body,div{
  margin: 0;
  padding: 0;
}
.app{
  width: 100%;
  height: 100%;
  margin-bottom: 2.5%;
}
.app::after{
  display: block;
  content: '';
  clear: both;
}
.box{
  float: left;
  width: 30%;
  height: 30vw;
  margin: 2.5% 0% 0% 2.5%;
  border-radius: 8%;
  background-color: #fea500;
}